.dashboardTable th{
    border: 1px solid #ddd;
    background-color: #e9f6f7;
}
.borderedTable{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.dashboardTable td{
    border: 1px solid #ddd;
}
.sapMTableTH {  
    border-top: 1px solid #e5e5e5;
}
.borderedTable .borderedRow .sapMListTblCell,.OCborderedTable .borderedRow .sapMListTblCell {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 3px;
}
.borderedTable .sapUiSizeCompact .sapMListTblNavCol, .sapUiSizeCompact .sapMListTblSelCol,.OCborderedTable .sapUiSizeCompact .sapMListTblNavCol, .sapUiSizeCompact .sapMListTblSelCol{
    border-left: 1px solid #ddd;
}
.borderedTable .sapMListTblHeaderCell,.OCborderedTable .sapMListTblHeaderCell {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.submitBtnBox{
    display: flex;
    justify-content: end;
}
.qrImage{
    margin: 88px;
}

.tableBorder {
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.generateQr_area{
    display: flex;
    justify-content: end;
}
.header_nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
 
.invMappingLayout .sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    margin-top: -2.25rem;
    padding-bottom: 1.75rem;
}

.dashboardTable th{
    border: 1px solid #ddd;
    background-color: #e9f6f7;
}
.borderedTable{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.dashboardTable td{
    border: 1px solid #ddd;
}
.sapMTableTH {  
    border-top: 1px solid #e5e5e5;
}
.borderedTable .borderedRow .sapMListTblCell,.OCborderedTable .borderedRow .sapMListTblCell {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 3px;
}
.borderedTable .sapUiSizeCompact .sapMListTblNavCol, .sapUiSizeCompact .sapMListTblSelCol,.OCborderedTable .sapUiSizeCompact .sapMListTblNavCol, .sapUiSizeCompact .sapMListTblSelCol{
    border-left: 1px solid #ddd;
}
.borderedTable .sapMListTblHeaderCell,.OCborderedTable .sapMListTblHeaderCell {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.submitBtnBox{
    display: flex;
    justify-content: end;
}
.qrImage{
    margin: 88px;
}

.tableBorder {
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.generateQr_area{
    display: flex;
    justify-content: end;
}
.header_nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.fbox{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }

  .tankNo_box {
    width: 25%;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */

  }

  .ibox{
    display: flex;
    justify-content: right;
    float: right;
    align-items: start;
    /* background-color: yellow; */
  }

  .image_text {
    font-size: 14px;
    text-align: center; 
    margin-left: 10px; 
}

.shape_text{
    font-weight: bold;
    font-size: 1em;
}
 
.invMappingLayout .sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    margin-top: -2.25rem;
    padding-bottom: 1.75rem;
}
.dealerDetail_form{
    display: flex;
    justify-content: space-between;
    width : 70%
}
